.res-signup {
    width: 98vw;
    height: 800px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-color: #58B5B1;
    box-sizing: border-box;
}
.res-invalid,
.res-invalid:focus {
    border-left: 5px solid red;
}

.res-valid,
.res-valid:focus {
    border-left: 5px solid green;
}

@media only screen and (min-width: 520px) {
    .res-signup {
        width: 520px;
    }
}

