.res-login {
    width: 450px;
    height: 400px;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #58B5B1;
}

.res-login .res-spinner {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.res-invalid,
.res-invalid:focus {
    border-left: 5px solid red;
}

.res-valid,
.res-valid:focus {
    border-left: 5px solid green;
}